h1,h2,h3,h4{
  margin: 0;
}
h1{
  font-family: SourceSansPro-ExtraLight;
  font-size: 48px;
  color: #000000;
  letter-spacing: 2px;
  line-height: 70px;
}
h2{
  font-family: SourceSansPro-ExtraLight;
  font-size: 32px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 42px;
}
h4{
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  color: #A7A7A7;
  letter-spacing: 5.5px;
  line-height: 33px;
}
body{
  font-family: SourceSansPro-Light;
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  line-height: 29px;
}
div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  font-family: SourceSansPro-Bold;
  color: #4A4A4A;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 2px solid #DBDBDB;
  cursor: pointer;
  transition: all 0.4s ease;
}
img{
    height: auto;
    width: 100%;
}
a:hover{
  text-decoration: none;
  color: #4A90E2;
  cursor: pointer;
}
.lowercase{
  text-transform: lowercase;
}
.bold{
  font-family: SourceSansPro-Bold;
  color: #000;
}
.black{
  font-family: SourceSansPro-Regular;
  color: #000;
}
.right{
  float: right;
}

header{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  transition: all 0.4s ease;
}
header .container{
  display: flex;
  align-items: center;
}
.nav-down{
  transform: translateY(0);
}
.nav-up{
  transform: translateY(-100px);
}
header .nav{
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav li{
  display: inline-block;
  margin: 0 40px;
  transition: opacity 0.4s ease;
}
header .nav a{
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
  letter-spacing: 4px;
  transition: all 0.4s ease;
  border: none;
}
header .nav a:hover{
  text-decoration: none;
  opacity: 1;
}
header .nav a.active{
  opacity: 1;
}
header .logo{
  width: 130px;
  float: left;
  z-index: 101;
}
header .burger{
  position: absolute;
  right: 15px;
  top: 20px;
  z-index: 101;
  display: none;
}
header .burger span{
  display: block;
  width: 25px;
  height: 1px;
  background: black;
  margin: 13px 0;
}
@media (max-width:991px) {
  header{
    max-height: 80px;
    overflow: hidden;
  }
  header.open{
    max-height: 100vh;
  }
  header .burger{
    display: block;
  }
  header .nav{
    height: 100vh;
  }
  header ul{
    padding: 0;
  }
  header .nav li{
    display: block;
    padding: 20px 0;
    opacity: 0;
  }
  header .nav li.show{
    opacity: 1;
  }
  header .logo{
    position: absolute;
    top: 20px;
  }
}

.hero{
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
.hero .content{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.hero .bg-image{
  position: relative;
  z-index: 0;
}
.hero .img{
  height: calc(100vh - 100px);
  overflow: hidden;
  background-image: url(../img/hero-bw.jpg);
  background-size: cover;
  background-position: center;
}
.hero .content h1{
  margin-top: 25px;
  margin-bottom: 40px;
}
.hero .content h5{
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  color: #A7A7A7;
  letter-spacing: 3.5px;
  line-height: 33px;
  text-transform: uppercase;
}
.hero .content h5, .hero .content h4{
  margin: 0;
}
.hero .content p{
  line-height: 33px;
  font-size: 18px;
}
.right-align{
  text-align: right;
}
@media (max-width: 991px) {
  .hero{
    margin-top: 80px;
  }
  .hero .img{
    display: none;
  }
  .hero .content{
    margin: 30px 0;
    position: relative;
    top: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
  }
  .right-align{
    text-align: left;
  }
}

.one-col-callout{
  text-align: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
}
.one-col-callout p{
  font-size: 18px;
}
p.body-font{
  font-size: 14px;
}

.two-col-img-text{
  margin-top: 80px;
  margin-bottom: 80px;
}
.two-col-img-text .column{
  overflow: hidden;
}
.two-col-img-text .column.right{
  float: right;
}
.two-col-img-text p{
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .two-col-img-text .text{
    margin-top: 30px;
  }
}

.project-gallery{
  overflow: hidden;
}
.project-gallery .tile{
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
  height: 223px;
}
.project-gallery .tile.feature{
  height: 402px;
}
.project-gallery .tile .content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.6s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: #fff;
}
.project-gallery .tile .content h2{
    color: #fff;
}
.project-gallery .tile img{
  transition: all 0.6s ease;
}
.project-gallery .tile:hover .content{
  opacity: 1;
}
.project-gallery .tile:hover > img{
  -webkit-filter: blur(15px); /* Chrome, Safari, Opera */
  filter: blur(15px);
}
.project-gallery .view-more{
  width: 100%;
  height: 100px;
  background-color: #f4f4f4;
  text-align: center;
  cursor: pointer;
}
.project-gallery .view-more a{
  line-height: 100px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .project-gallery .tile{
    height: 402px;
  }
}
@media (max-width: 420px) {
  .project-gallery .tile, .project-gallery .tile.feature{
    height: 223px;
  }
}


.two-col-img-text .experience{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:420px) {
  .two-col-img-text .experience{
    height: auto;
    margin-bottom: 30px;
  }
}

.primary-btn{
  background: #212121;
  padding: 15px 50px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: SourceSansPro-Bold;
  letter-spacing: 2px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  transition: all 0.4s ease;
}
.primary-btn:hover{
  opacity: 0.8;
}

footer .footer-one{
  background-color: #2F2F2F;
  width: 100%;
  color: #fff;
  padding: 45px 0;
}
footer h5{
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
}
footer p{
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.55px;
}
footer a{
    border: none;
}
footer .links a{
  margin: 20px;
  opacity: 0.6;
  font-family: SourceSansPro-Bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 4px;
}
footer a.email{
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 1.55px;
  text-transform: none;
  font-family: SourceSansPro-Regular;
}
footer .footer-two{
  background-color: #212121;
  padding: 10px 0;
}
@media (max-width: 991px) {
  footer .right{
    float: none;
  }
  footer .links{
    display: none;
  }
}


.light-grey-bg{
  background-color: #f4f4f4;
}
.bg-image{
  background-size: cover;
  background-position: center;
}
.connect-customers{
  background-image: url(../img/connect-customers.jpg);
}




/*PROJECT TEMPLATE ------------------------------------------*/
.full-width-header{
  margin-top: 100px;
}
.full-width-header p{
  font-size: 18px;
}

.three-col-row{
  margin: 80px 0;
}
.three-col-row h4{
  text-transform: uppercase;
  font-size: 14px;
  color: #A7A7A7;
  letter-spacing: 1.5px;
}

.one-col-img{
  padding-top: 80px;
}

.two-col-title-text{
  margin: 100px 0;
}

.two-col-img{
  overflow: hidden;
}
.two-col-img .tile{
  padding: 0;
}

.masonary-grid .tile{
  background-color: #f4f4f4;
}
.masonary-grid .col-md-6{
    padding: 15px;
}
